*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Source Code Pro', monospace;


}

body{
    background-color: #000;
    color: #00faff;
    

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #00faff;
    opacity: 0.7;
    transition: .3s;

}
a:hover{
    opacity: 1;
}
p{
    color: #a9abb3;
}